.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 4rem;

  & svg {
    margin-inline-start: 1rem;
  }
}

.active {
  background: linear-gradient(90deg, #eee1ff 0%, rgba(255, 255, 255, 0) 25%);
  &::before {
    content: " ";
    position: absolute;
    background-color: #6302ef;
    width: 0.4rem;
    height: 2rem;
    border-radius: 0 0.25rem 0.25rem 0;
  }
}
