.button {
  &:disabled {
    filter: opacity(0.5);
  }
  width: 35rem;
  height: 5rem;
  background: #6302ef;
  border-radius: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
}
