.formWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  & button {
    margin-block: 2rem;
  }
}

.form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.input {
  &:invalid {
    border-color: #e5190c;
  }

  font-size: large;
  &:focus {
    border: 0.2rem solid #6302ef;
  }
  &::placeholder {
    color: #bebebe;
    font-weight: bold;
  }
  background-color: #f9f6fe;
  width: 35rem;
  height: 5rem;
  border-radius: 1.5rem;
  padding: 1rem;
}

.formError {
  color: #e5190c;
}

.formMessage {
  color: #6302ef;
}
