.profileWrapper {
  display: grid;
  width: 100%;
  grid-template-rows: 75% 15% 10%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  & h3 {
    font-size: 1.5em;
  }
}

.profileImg {
  height: 12rem;
  width: 12rem;
  padding: 1rem;
  border-radius: 100%;
  background-color: white;
}
