.wrapper {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.main {
  height: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 3rem;
  }
}
