.actionButton {
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background: #6302ef;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.content {
  padding: 1rem;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: grid;
  grid-template-rows: 87% 13%;
  grid-template-columns: 100%;
  justify-content: center;
  width: 23rem;
  height: 23rem;
  background: #f9f6fe;
  border-radius: 20px;
}
