.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  overflow: visible;
  background-color: white;
}

.user {
  justify-self: flex-end;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  span {
    display: none;
  }
}

@media (min-width: 768px) {
  .user {
    span {
      display: initial;
    }
  }
}

.userImg {
  padding: 0.3rem;
  width: 4rem;
  height: 4rem;
  border: solid #6302ef 0.15rem;
  border-radius: 50px;
}

.brandImgContainer {
  cursor: pointer;
  width: 20%;
  min-width: 8rem;
  height: 10%;
  min-height: 95px;
  align-self: center;
  display: flex;
  & img {
    object-fit: contain;
    width: 100%;
  }
}
