.HeaderActionWrapper {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.layout {
  height: 100vh;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
