.brandImgContainer {
  width: 20%;
  min-width: 8rem;
  height: 10%;
  min-height: 95px;
  align-self: center;
  display: flex;
  justify-items: center;
  align-items: center;
  & img {
    object-fit: contain;
    width: 100%;
  }
}

.layout {
  a {
    color: #6302ef;
    font-size: x-large;
    font-weight: bold;
  }
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
