.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 2rem;
  padding: 1rem 2rem;
  flex-grow: 1;
}

.userList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.userListItem {
  padding-inline-start: 1rem;
  gap: 1.5rem;
  display: flex;
  justify-items: start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.userListItem_imgWrapper {
  justify-self: center;
  background-color: white;
  height: 3rem;
  padding: 0.2rem;
  width: 3rem;
  border-radius: 100%;
}
