.nav {
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 75vw;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 16rem;
  padding-top: 1rem;
  will-change: transform;
}

.navMenuButton {
  justify-self: flex-start;
  padding: 1rem;
  & svg {
    height: 3rem;
    width: 3rem;
  }
}

.navCloseButton {
  padding: 1rem;
  & svg {
    height: 2rem;
    width: 2rem;
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(84, 84, 84, 0.37);
}
